* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 4em;
  background-color: #1f2937;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5em;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-header h2 {
  font-size: 1.125em;
}

.nav-list {
  display: flex;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 2em;
  padding: 0 0.75em;
  color: #ffffff;
  position: relative;
  transition: color 0.2s ease-in-out;
}
.nav-link:hover {
  color: #3b82f6;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.25em;
  width: 0%;
  height: 0.2em;
  background-color: #3b82f6;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.logo-link h2 {
  color: #ffffff;
}

.logo-link:hover h2 {
  color: #ffffff;
}