.allocation-form {
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;

    border: 1px;
    border-radius: 5px;

    background-color: #676767;
}

.allocation-button {
    margin-top: 10px;
    margin-bottom: 10px;

    height: 30;
}

.inputs {
    display: flex;
    gap: 10px;        
    justify-content: center;

}

.input-bar {
    border: 1px;
    border-radius: 8px;
    
    width: 150px;
    height: 35px;
} 

.input-bar::placeholder {
    color: white;
    opacity: 0.7;
}

.allocation-button {
    background-color: #3B3B3B;
}